include card
include theater_info

mixin show_card(show)
  +card('show_card')(data-show-time=show.when)
    h2.card_header: a(href=show.pageLink)= (show.name)
    img.card_image(src=show.image, alt=show.name)
    .card_right.show_when
      .show_day
      .show_time
    .card_content
      p: strong= show.headline
      p= show.description
    .card_footer
      +theater_info(show.theater)
