include theater_logo

mixin theater_info(theater)
  .theater_info
    +theater_logo(theater)
    .theater_content
      .theater_name= theater.name
      .theater_location
        = `${theater.location.street}, ${theater.location.city} ${theater.location.state}, ${theater.location.zip}`
